body{
    width: 100%;
    height: 100%;
}
canvas{
    height: 40%;
    width:  50%;
    border: 1px solid black;
    
}
.contenedor-canvas{
    margin: auto;
    height: 30%;
    width: 75%;
    text-align: center;
}
.div-index{
    width: 100%;
    height: 100%;
}
.naveg{
    background-color: rgba(75, 99, 202, 0.678);
}